
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Style/StyleSheet1.css" rel="stylesheet" />
    

	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
	<link href="@Url.Content("~/Content/kendo/2018.2.516/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2018.2.516/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2018.2.516/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2018.2.516/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2018.2.516/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2018.2.516/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2018.2.516/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Response Shopping", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse"> 
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                        <li>@Html.ActionLink("Products", "Details", "ProductInfoes")</li>
                        @*<li>@Html.ActionLink("Contact", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("Signup", "Create", "Customers")</li>
                        <li>@Html.ActionLink("Login", "Login", "Customers")</li>
                        <li>@Html.ActionLink("Cart", "Cart", "ShoppingCart")</li>
                        <li>@Html.ActionLink("History", "Index", "OrderHistory")</li>
                        @Html.Action("Index", "Roles")
                    </ul>
                    <div class="navbar-right">
                        <p class="navbar-text">Welcome @Session["name"]</p>
                        @if (@Session["name"] != null)
                        {
                            <p class="navbar-text">Last Logged: @Session["LastLogin"]</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container body-content" style="
    width:100%; height:100%">
            @RenderBody()

        </div>

        <footer class="footer">
            <div class="container">
                <div class="row footer-widgets">

                </div>
                </div>
            </footer>

                    
                    @Scripts.Render("~/bundles/bootstrap")
                    @RenderSection("scripts", required: false)

</body>
</html>

   